@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: los gradientes podemos llevarlos a tailwindcss ya que lo estas usando, lo miramos juntos */

body {
  @apply bg-neutral-900;
  @apply text-gray-200;
}

.btn-login {
  background-image: linear-gradient(to right,
      #FF8BF3,
      #7342FF);
}

.bg-home {
  background-image: linear-gradient(0deg,
      #000000 0%,
      #281449 33%,
      #330022 66%,
      #101010 99%);
}

.box-me {
  border: 2px solid #005686;
  background-image: linear-gradient(to bottom,
      #003E51,
      rgba(56, 0, 82, .5));
}

.box-skills {
  border: 2px solid #AD5A5A;
  background-image: linear-gradient(to bottom,
      #4A001A,
      #4A0855)
}

.box-work_experience {
  border: 2px solid #AD5A5A;
  background-image: linear-gradient(to bottom,
      #4A001A,
      #4A0855)
}

.box-work_experience {
  border: 2px solid rgb(3, 120, 128);
  background-image: linear-gradient(to bottom,
      #005753,
      #002332)
}

.box-personality {
  border: 2px solid #616161;
  background-image: linear-gradient(to bottom,
      #2b2b2b,
      #050505)
}

.box-age {
  border: 2px solid #0092C3;
  background-image: linear-gradient(to bottom,
      #006686,
      rgba(74, 74, 74, 0))
}

.box-english {
  border: 2px solid #823e80;
  background-image: linear-gradient(to bottom,
      #650062,
      rgba(0, 0, 0, 0))
}

.box-proyects {
  border: 2px solid #005686;
  background-image: linear-gradient(to bottom,
      #003E51,
      rgba(56, 0, 82, .5));
}

.box-proyects__pills-design {
  background-image: linear-gradient(to right,
      #ab9534,
      #ac32a2)
}

.box-proyects__pills-code {
  background-image: linear-gradient(to right,
      #2468ac,
      #ac32a2)
}

.box-proyects__pills-design:hover {
  cursor: pointer;
  filter: brightness(120%);
  transition-duration: 300ms;
}

.box-proyects__pills-code:hover {
  cursor: pointer;
  filter: brightness(120%);
  transition-duration: 300ms;
}

.btn-projects {
  background-image: linear-gradient(to right,
      #FF8BF3,
      #7342FF)
}

.btn-projects:disabled {
  cursor: pointer;
  filter: saturate(10%);
  opacity: 50%;
}

.box-switch {
  border: 2px solid #005686;
  background-image: linear-gradient(to bottom,
      #003E51,
      rgba(56, 0, 82, .5));
}


/* CARS PROJECT */


.bg-cars {
  background-color: #fff;
  color: #2B2C35;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heart-icon {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.heart-icon:hover {
  transform: scale(1.2);
}

/* START: General styles */

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

/* END: General styles */

/* START: Hero styles */

.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply text-5xl sm:text-6xl md:text-7xl font-extrabold;
}

.hero__subtitle {
  @apply text-xl md:text-3xl text-black-100 font-light mt-5;
}

.hero__image-container {
  @apply xl:flex-[1.5] relative flex justify-end items-end w-full xl:h-full;
}

.hero__image {
  @apply relative w-full h-[200px] md:h-[350px] xl:h-screen z-0 mt-10 md:mt-5;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full h-[280px] xl:h-screen md:h-[400px] md:w-[700px] xl:w-[1100px] 2xl:w-[1500px] overflow-hidden;
}

/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-1 items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

/* END: Home styles */

/* START: Car Card styles */

.car-card {
  @apply flex flex-col p-6 justify-center h-full items-start text-black-100 bg-primary-blue-100 rounded-3xl;
}

.car-card__content {
  @apply w-full flex-col justify-between items-start gap-2;
}

.car-card__price {
  @apply flex mt-6 text-3xl font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-sm font-semibold;
}

.car-card__price-day {
  @apply self-end text-sm font-medium;
}

.car-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-sm;
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}

/* END: Car Card styles */

/* START: Car Details styles */

.car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
}

/* END: Car Details styles */

/* START: Custom Filter styles */

.custom-filter__btn {
  @apply relative w-full min-w-[130px] flex justify-between cursor-pointer items-center rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border mt-10;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto cursor-pointer rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

/* END: Custom Filter styles */

/* START: searchbar styles */

.searchbar {
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}

/* END: searchbar styles */

/* START: search manufacturer styles */

.search-manufacturer {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.search-manufacturer__option {
  @apply cursor-pointer select-none py-2 pl-10 pr-4;
}

/* END: search manufacturer styles */