.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
    height: auto;
    width: 5px;
    border-radius: 7px;
}

.scroll::-webkit-scrollbar {
    background-color: rgb(32, 32, 32);
}

.scroll::-webkit-scrollbar-thumb {
    /* background-color: rgb(186 230 253); */
    background-color: rgb(186, 202, 253);
}