.scroll::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(255, 0, 0);
}

.scroll::-webkit-scrollbar-thumb {
    height: auto;
    width: 5px;
    border-radius: 7px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: rgb(0, 167, 25);
}

/* 

.modal-scrollbar {
    ::-webkit-scrollbar {
        width: 5px;
        background-color: rgb(255, 255, 255);
    }

    ::-webkit-scrollbar-thumb {
        height: auto;
        width: 5px;
        border-radius: 7px;
        background-color: rgb(135, 163, 255);
    }
}

*/